{% extends 'layouts/base.html' %}

{% block title %} Calendar {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
calen
{% endblock stylesheets %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
    <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="index.html">Mindful Planner</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">
     Calendar
    </li>
  </ol>
</nav>

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Calendar</h6>
            <a href = "{% url 'event-create' %}">Add Event</a>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Event Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Starting Time</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ending Time</th>
                   
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- for list that'll display each task -->
                  {% for Event in Event %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-2.jpg" class="avatar avatar-xl me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                                                 
                          <h6 class="mb-0 text-sm">{{Event.title}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{Event.day}}</p> 
                    </td>
              
                    <td class="align-middle">
                      <p class="text-xs font-weight-bold mb-0">{{Event.startTime}}</p> 
                    </td>

                    <td class="align-middle">
                      <p class="text-xs font-weight-bold mb-0">{{Event.endTime}}</p> 
                    </td>

                    <td class="align-middle">
                      <p class="text-xs font-weight-bold mb-0">{{Event.description}}</p> 
                    </td>

                    <td class="align-middle">
                      <p class="text-xs font-weight-bold mb-0">{{Event.complete}}</p> 
                    </td>

                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  <!-- </div> -->

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
