{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
    <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="{% url 'home' %}">Mindful Planner</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<!-- <div class="container-fluid py-4">
  <div class="row w-auto">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row"> 
            <div class="col-lg-6">
              <div class="card-body px-0 pt-0 pb-2">
                <body onload="startTime()">
                  <h4 class="font-weight-bolder txt-lg">Today is {% now "N j, Y" %} </h4>
                  <h4 class="tile=content" id="txt"></h4>
                </body>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

    <div class="container-fluid py-4">
      <div class="row w-auto">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card-body px-0 pt-0 pb-2">
                      <h4 class="font-weight-bolder">Calendar</h4>
                    
                      <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="/calendar/">
                        See More
                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                      </a>
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Event Date</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Starting Time</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ending Time</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                          </tr>
                        </thead>
          
                        <tbody>
                        <!-- for list that'll display each event -->
                        {% for event in events %}
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1"> 
                                  <div class="d-flex flex-column justify-content-center">
                                                      
                                    <h6 class="mb-0 text-sm">{{event.title}}</h6>
                                  </div>
                                </div>
                              </td>
          
                              <td>
                                <p class="text-xs font-weight-bold mb-0">{{event.day}}</p> 
                              </td>
          
                              <td>
                                <p class="text-xs font-weight-bold mb-0">{{event.startTime}}</p> 
                              </td>
          
                              <td>
                                <p class="text-xs font-weight-bold mb-0">{{event.endTime}}</p> 
                              </td>
          
                              
                              <td>
                                <p class="text-xs font-weight-bold mb-0">{{event.description}}</p> 
                              </td>
          
          
                              {% comment %} <td class="align-middle">
                              <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-ellipsis-v text-secondary"></i>
                              </a>
                              
                              <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                              <li><a class="dropdown-item border-radius-md" href="javascript:;">Edit</a></li>
                              <li><a class="dropdown-item border-radius-md" href="javascript:;">Mark as Complete</a></li>
                              <li><a class="dropdown-item border-radius-md" href="{% url 'event-delete' event.id %}">Delete</a></li>
                              </ul>
                              </td> {% endcomment %}
          
                              {% empty %}
                              <li>Nothing is happening today!</li>
                              
                            </tr>
                          {% endfor %}
                          </tbody>
                      </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 h-100">
              <h4>Productivity Tracker</h4>
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">This week</span>
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <!-- INSERT PNG HERE INSTEAD OF CHART -->
                <canvas id="chart-line" class="chart-canvas" height="300px"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-lg-7 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7 ">
                  <h4 class="font-weight-bolder txt-lg">To-Do List</h4>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">30 done</span> this month/this week/today
                  </p>
                </div>

                {% comment %} <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>

            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Due Date</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Due Time</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
    
                  <tbody>
                      <!-- for list that'll display each task -->
                      {% for task in tasks %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1"> 
                            <div class="d-flex flex-column justify-content-center">
                                                
                              <h6 class="mb-0 text-sm">{{task.name}}</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{task.due_date}}</p> 
                        </td>
                        <td class="align-middle">
                          <p class="text-xs font-weight-bold mb-0">{{task.due_time}}</p> 
                          <!--<a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Edit-->
                          </a>
                        </td>
                        {% comment %} <td class="align-middle">
                        <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-secondary"></i>
                        </a>
                        
                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                        <li><a class="dropdown-item border-radius-md" href="{% url 'task-edit' task.id %}">Edit</a></li>
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Mark as Complete</a></li>
                        <li><a class="dropdown-item border-radius-md" href="{% url 'task-delete' task.id %}">Delete</a></li>
                        </ul>
                        </td> {% endcomment %}
    
                        {% empty %}
                        <p>Nothing on your to-do list today!</p>
                        
                      </tr>
                    {% endfor %}
    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-5 col-md-6">
  <div class="card">
    <div class="card-body p-3">
      <div class="row"> 
        <div class="col-lg-6">
          <div class="card-body px-0 pt-0 pb-2">
            <body onload="startTime()">
              <h4 class="font-weight-bolder txt-lg">Today is {% now "N j, Y" %} </h4>
              <h4 class="tile=content" id="txt"></h4>
            </body>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script type="text/javascript">
  function startTime() {
      var today=new Date();
      var h=today.getHours();
      var m=today.getMinutes();
      var s=today.getSeconds();

      var midday="AM";
      if (h < 12) {
        midday = "AM"
      }
      if (h >= 12) {
        midday = "PM"
      }
  
      m=checkTime(m);
      s=checkTime(s);
      document.getElementById('txt').innerHTML= h + ":" + m + ":" + s + " " + midday;
      t=setTimeout('startTime()',500);
  }
  function checkTime(i) {
    if (i<10) {
      i="0" + i; 
    }
    return i;
  }
  </script>


  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script src="/static/assets/js/plugins/Chart.extension.js"></script>

  <script>
    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors


    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            data: [50, 40, 300, 60, 500, 250, 400, 230, 300],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6

          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        tooltips: {
          enabled: true,
          mode: "index",
          intersect: false,
        },
        scales: {
          yAxes: [{
            gridLines: {
              borderDash: [2],
              borderDashOffset: [2],
              color: '#dee2e6',
              zeroLineColor: '#dee2e6',
              zeroLineWidth: 1,
              zeroLineBorderDash: [2],
              drawBorder: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              fontSize: 11,
              fontColor: '#adb5bd',
              lineHeight: 3,
              fontStyle: 'normal',
              fontFamily: "Open Sans",
            },
          }, ],
          xAxes: [{
            gridLines: {
              zeroLineColor: 'rgba(0,0,0,0)',
              display: false,
            },
            ticks: {
              padding: 10,
              fontSize: 11,
              fontColor: '#adb5bd',
              lineHeight: 3,
              fontStyle: 'normal',
              fontFamily: "Open Sans",
            },
          }, ],
        },
      },
    });
  </script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
