{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .sub-menu {
    float: left;
    overflow: hidden;
  }

.sub-menu-items a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sub-menu-items {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sub-menu:hover .sub-menu-items {
  display: block;
}
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>To-Do List</h6>
            <a href = "{% url 'task-create' %}">Add Task</a>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Due Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Due Time</th>
                   
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- for list that'll display each task -->
                  {% for task in tasks %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-2.jpg" class="avatar avatar-xl me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                                                 
                          <h6 class="mb-0 text-sm">{{task.name}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{task.due_date}}</p> 
                    </td>
              
                    <td class="align-middle">
                      <p class="text-xs font-weight-bold mb-0">{{task.due_time}}</p> 
                      <!--<a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit-->
                      </a>
                    </td>
                    <td class="align-middle">
                      <div class="sub-menu">
                        <button class ="btn btn-link text-secondary mb-0">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                        <div class="sub-menu-items">
                          <a href = "{% url 'task-edit' task.id %}">Edit</a>
                          <a href = "{% url 'task-delete' task.id %}">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

   

    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}