{% extends 'layouts/base.html' %}

{% block title %} To-Do list {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load crispy_forms_tags %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
    <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="index.html">Mindful Planner</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">
     To-Do List
    </li>
  </ol>
</nav>

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>To-Do List</h6>
            <a data-toggle="modal" href="#TaskCreateModal"><button class="btn btn-secondary">Add Task</button></a>
            
          </div>
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Due Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Due Time</th>
                   
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- for list that'll display each task -->
                  {% for task in tasks %}
                  <tr>
                    <td>
                      <a class="table-row" data-id = {{task.id}} data-toggle="modal" href="#SubtaskViewModal">
                        <!-- <a class="table-row1" href = "{% url 'subtasks' task.id %}"> -->
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                                                 
                          <h6 id="task-name" class="mb-0 text-sm">{{task.name}}</h6>
                        </div>
                      </div>
                      </a>
                    </td>
                    <td>
                      <a class="table-row" data-id = {{task.id}} data-toggle="modal" href="#SubtaskViewModal">
                        <p id="task-due-date" class="text-xs font-weight-bold mb-0">{{task.due_date | date:"SHORT_DATE_FORMAT"}}</p> 
                      </a>
                    </td>
                    <td>
                      <a class="table-row" data-id = {{task.id}} data-toggle="modal" href="#SubtaskViewModal">
                        <p id="task-due-time" class="text-xs font-weight-bold mb-0">{{task.due_time | time:"H:i"}}</p> 
                      </a>
                    </td>
              
                    <td class="align-middle" id = "">
                      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                      </a>
                      
                      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" id="edit-delete" aria-labelledby="dropdownTable">
                      <li><button class="edit-button dropdown-item border-radius-md" data-id = {{task.id}} data-toggle="modal" href="#TaskEditModal">Edit</button></li>
                      <li><button class="delete-button dropdown-item border-radius-md" data-id = {{task.id}} data-toggle="modal" href="#TaskDeleteModal">Delete</button></li>
                      
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Start of Task Create Modal -->
<div class="modal fade" id="TaskCreateModal" tabindex="-1" role="dialog" aria-labelledby="TaskCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TaskCreateModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="task-form" action="{% url 'task-create' %}">
          <div>
            <label for="name">Name </label>
            <input id="name" type="text" name="name" value="{{name}}" />
          </div>
          <div>
            <label for="complete">Complete</label>
          <input id="complete" type="checkbox" />
          </div>
          <div>
            <label for="due_date">Due Date</label>
          <input id="due_date" type="text" name="due_date" value="{{due_date}}" />
          </div>
          <div>
            <label for="due_time">Due Time</label>
          <input id="due_time" type="text" name="due_time" value="{{due_time}}" />
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="task-form-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Task Create Modal -->

<!-- Start of Task Edit Modal -->
<div class="modal fade" id="TaskEditModal" tabindex="-1" role="dialog" aria-labelledby="TaskEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TaskEditModalLabel">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="edit-task-form">
          <div>
            <label for="name">Name </label>
            <input id="edit-name" type="text" name="name" value="{{name}}" />
          </div>
          <div>
            <label for="complete">Complete</label>
          <input id="edit-complete" type="checkbox" />
          </div>
          <div>
            <label for="due_date">Due Date</label>
          <input id="edit-due_date" type="text" name="due_date" value="{{due_date}}" />
          </div>
          <div>
            <label for="due_time">Due Time</label>
          <input id="edit-due_time" type="text" name="due_time" value="{{due_time}}" />
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-task-form-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Task Edit Modal -->

<!-- Start of Task Delete Modal -->
<div class="modal fade" id="TaskDeleteModal" tabindex="-1" role="dialog" aria-labelledby="TaskDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TaskDeleteModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <div class="modal-body">
          <form method="POST" id="delete-task-form">
          </form>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="delete-task-form-submit">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Task Delete Modal -->

<!-- Start of Subtask View Modal -->
<div class="modal fade" id="SubtaskViewModal" tabindex="-1" role="dialog" aria-labelledby="SubtaskViewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SubtaskViewModalLabel">Subtasks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="subtask-view-modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="close-button btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-subtask-button">Add Subtask</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Subtask View Modal -->

<!-- Start of Subtask Create Modal -->
<div class="modal fade" id="SubtaskCreateModal" tabindex="-1" role="dialog" aria-labelledby="SubtaskCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SubtaskCreateModalLabel">Add Subtask</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="subtask-create-modal-body">
        <!-- <form method="POST" id="subtask-create-form">
          <div>
            <label for="name">Name </label>
            <input id="subtask-name" type="text" name="subtask-name" value="{{name}}" />
          </div>
        </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="subtask-form-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Subtask Create Modal -->

<!-- Start of Subtask Edit Modal -->

<!-- End of Subtask Edit Modal-->

<!-- Start of Subtask Delete Modal -->

<!-- End of SUbtask Delete Modal -->
   

    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var pageCurrentId;
    var pageCurrentTask;

    var frm = $('#task-form');    
    $( document ).ready(function() {

      $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });

      $("#task-form-submit").click(function(e) {
        e.preventDefault();
        $.ajax({
          type: frm.attr('method'),
          url: frm.attr('action'),
          data: frm.serialize(),
          success: function(data) {
            console.log('Submission was successful.');
          },
          error: function(data) {
            console.log('An error occurred.');
          },
        });
      });
    });

    $(document).ready(function() {
      $(".edit-button").click(function() {
        var currentIds = $(this).closest("tr").find("td");
        var cell0 = $(currentIds).eq(0).text().trim();
        var cell1 = $(currentIds).eq(1).text().trim();
        var cell2 = $(currentIds).eq(2).text().trim();
        $("#edit-name").val(cell0);
        $("#edit-due_date").val(cell1);
        $("#edit-due_time").val(cell2);
        $("#TaskEditModal").modal('show');
      });
    });

    var frm2 = $("#edit-task-form");
    $(".edit-button").click(function(e) {
      var taskId = $(this).attr('data-id');

      var editURLString = window.location.origin + "/todolist/task-edit/" + taskId + "/";
      //var edit2 = edit.concat(taskId, "/");
      var deleteURLString = window.location.origin + "/todolist/task-delete/" + taskId + "/";
      //var delete2 = delete3.concat(taskId, "/");

      $(document).ready(function() {
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $("#edit-task-form-submit").click(function(e) {
          e.preventDefault();
          $.ajax({
            type: frm2.attr('method'),
            // url: temp3,
            url: editURLString,
            data: frm2.serialize(),
            success: function(data) {
              console.log('Submission was successful.');
            },
            error: function(data) {
              console.log('An error occurred.');
            },
          });
        });
      });
    });

    var frm3 = $('#delete-task-form');    
    $(".delete-button").click(function(e) {
      var currentId = $(this).attr('data-id');
      var currentObject = $(this).closest("tr").find("td");
      var currentName = $(currentObject).eq(0).text().trim();
      console.log(currentName);
      document.getElementById("TaskDeleteModalLabel").innerHTML = "Are you sure you want to delete '" + currentName + "'?";
      deleteString = window.location.origin + "/todolist/task-delete/" + currentId + "/";
      console.log(deleteString);
    
      $(document).ready(function() {
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $("#delete-task-form-submit").click(function(e) {
          e.preventDefault();
          $.ajax({
            type: frm3.attr('method'),
            url: deleteString,
            success: function(data) {
              console.log('Submission was successful.');
            },
            error: function(data) {
              console.log('An error occurred.');
            },
          });
        });
      });
    });

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    $(".table-row").click(function(e) {
      pageCurrentId = $(this).data('id');
      var currentObj = $(this).closest("tr").find("td");
      pageCurrentTask = $(currentObj).eq(0).text().trim();
      var urlString = window.location.origin + "/todolist/subtasks/" + pageCurrentId;
      console.log(urlString);
      $('.subtask-view-modal-body').load(urlString);
    })

    $("#add-subtask-button").click(function(e) {
      var subtaskCreateString = window.location.origin + "/todolist/subtask-create/" + pageCurrentId + "/";
      //var otherString = window.location.origin + "/subtask_form.html";
      console.log(subtaskCreateString);
      $(".close-button").click();
      $(".subtask-create-modal-body").load(subtaskCreateString);
      $("#SubtaskCreateModal").modal("show");
    });

    $("#subtask-form-submit").click(function(e) {
      var createSubtaskURLString = window.location.origin + "/todolist/subtask-create/" + pageCurrentId + "/";
      var frm4 = $("#subtask-create-form");
      var formData = {
        task: frm4.serialize(),
        name: $("#subtask-name").val(),
      }
      console.log(frm4.serialize());
      $(document).ready(function() {
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        e.preventDefault();
        $.ajax({
          type: frm4.attr('method'),
          url: createSubtaskURLString,
          data: frm4.serialize(),
          success: function(data) {
            console.log('Submission was successful.');
          },
          error: function(data) {
            console.log('An error occurred.');
          },
        });
      });
    });
  </script>

{% endblock javascripts %}